.list {
  list-style: none;
}
.link {
  margin-bottom: 5px;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.button {
  margin-top: 10px;
  margin-bottom: 5px;
}

.img {
  width: 200px;
}

.info {
  display: flex;
  padding: 5px;
  border-bottom: 2px solid lightslategray;
}

.text {
  padding: 0 15px;
}
